{% block body %}
    <h1>{{ news.title }}</h1>
    {{ news.content }}
    {% for comment in comments %}
        {{ comment.content }}
    {% endfor %}

    {{ form_start(form) }}
    {{ form_row(form.content) }}
    <button type="submit">Добавить комментарий</button>
    {{ form_end (form) }}
{% endblock %}